.FormContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(85, 85, 85);
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 20px;
}

.FormContainer * {
  color: black;
}
