.ListItem {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.ListItem p {
  width: 100%;
  min-width: 150px;
  max-width: 320px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;

  align-self: flex-end;
}

.ListItem div {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 150px;
  max-width: 300px;
  box-sizing: border-box;
  border-image: url("../../assets/images/border2.svg");
  border-image-slice: 50;
  border-width: 15px;
  border-style: solid;
}

.ListItem-left div {
  margin-right: auto;
  left: 0;
}

.ListItem-right div {
  transform: scaleX(-1);
  margin-left: auto;
  right: 0;
}

.ListItem-left p {
  margin-right: auto;
  text-align: left;
}

.ListItem-right p {
  margin-left: auto;
  text-align: right;
}

.ListItemIntro-left {
  animation: ListItemIntro-left 1s ease-in forwards;
}

.ListItemIntro-right {
  animation: ListItemIntro-right 1s ease-in forwards;
}

@keyframes ListItemIntro-right {
  0% {
    transform: rotateX(-30deg) translateX(300px) scale(0.8);
  }
  50% {
    transform: rotateX(15deg) translateX(-20px) scale(1.2);
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
    background-color: rgba(255, 255, 255, 0.17);
  }
  100% {
    transform: rotateX(0deg) translateX(0) scale(1);
    opacity: 1;
    text-shadow: none;
  }
}

@keyframes ListItemIntro-left {
  0% {
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg) scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(15deg) translateX(20px) skewX(-15deg) scale(1.2);
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg) scale(1);
    opacity: 1;
    text-shadow: none;
  }
}
