.SectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  animation: SectionContainerIntro 2s ease forwards;
  padding: 10px;
}

@keyframes SectionContainerIntro {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
