.Instructions {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.779);
}

.material-icons-outlined {
  font-size: 48px;
  color: #ffffff;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  width: 100%;
}

.animate-slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30vw);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0);
  }
}
