.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 1s ease-in-out;
  background-color: rgb(44, 44, 44);
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.bg-image {
  background-image: url("./assets/images/background1.svg");
  width: 50rem;
  height: 50rem;
  background-size: cover;
  position: absolute;
  opacity: 0.5;
  z-index: -10;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
